# local package
-e .

# external requirements
Sphinx
coverage
awscli
flake8
black
isort
jupyter
nbconvert
python-dotenv>=0.5.1
{% if cookiecutter.python_interpreter != 'python3' %}

# backwards compatibility
pathlib2
{% endif %}
